<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<welcome-file-list>
		<welcome-file>uranai.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>UranaiServlet</servlet-name>
		<servlet-class>kadai4.UranaiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UranaiServlet</servlet-name>
		<url-pattern>/uranai</url-pattern>
	</servlet-mapping>
</web-app>

